@font-face {
    font-family: Montserrat;
    font-style: normal;
    src: url('/fonts/Montserrat-VF.woff2');
} 

@font-face {
    font-family: Montserrat;
    font-style: italic;
    src: url('/fonts/Montserrat-Italic-VF.woff2');
} 

* {
    font-family: Montserrat;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
}

.header {
    text-align: center;
}

img {
    border: 5px solid #333;
    padding: 1px;
    border-radius: 50%;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

.column.office {
    text-align: right;
}

.mobile {
    display: none;
}

@media (pointer:none),
(pointer:coarse) {
    .row {
        display: block;
    }

    .column.office {
        text-align: left;
    }

    .header {
        text-align: left;
    }

    .pc {
        display: none;
    }

    .mobile {
        display: block;
    }
}
