/* SPDX-FileCopyrightText: 2025 Sayantan Santra <sayantan.santra689@gmail.com> */
/* SPDX-License-Identifier: GPL-3.0 */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@300&display=swap");
@font-face {
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans Bengali", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

:root {
  color-scheme: light dark;
  font-family: Montserrat;
}
body {
  color: light-dark(black, #e8e6e3);
  background-color: light-dark(white, #181a1b);
}
.bangla {
  font-family: "Noto Sans Bengali";
}

.container {
  margin: 0 auto;
  width: 60em;
  position: absolute;
  top: 20vh;
  left: 50%;
  transform: translateX(-50%);
}

.header {
  text-align: left;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

img {
  border: 0.2em solid #333;
  padding: 0.1em;
  border-radius: 50%;
}

.row {
  display: flex;
}
.column {
  flex: 50%;
}
.left-column {
  text-align: left;
}
.right-column {
  text-align: right;
}

a {
  color: light-dark(blue, #3391ff);
}
.links {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2em;
  align-items: flex-start;
}
a.button {
  padding: 0.1em 0.3em;
  border: 0.1em solid buttonborder;
  border-radius: 0.5em;
  color: buttontext;
  background-color: buttonface;
  text-decoration: none;
  user-select: none;
}

.mobile-view {
  display: none;
}

summary {
  cursor: pointer;
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
  user-select: none;
}

details {
  border: 0.1em solid #aaa;
  border-radius: 0.5em;
  margin-bottom: 0.3em;
  padding: 0.5em 0.5em 0;
  max-width: 60em;
}
details[open] {
  padding: 0.5em;
}
details[open] summary {
  border-bottom: 0.1em solid #aaa;
  margin-bottom: 0.5em;
}

@media (pointer: none), (pointer: coarse) {
  .container {
    width: 94%;
    top: 1%;
    left: 3%;
    transform: translateX(0%);
  }

  .row {
    display: block;
  }

  .header {
    display: inline;
  }

  .pc-view {
    display: none;
  }

  .mobile-view {
    display: block;
  }
}
